body {
  font-family: Roboto, sans-serif;
  margin: 0px;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0px;
}

h4 {
  font-size: 1em;
  font-weight: bolder;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
  margin-top: 10px;
  color: #ffffff;
}

nav h4 {
  display: inline-block;
  font-family: 'Roboto Condensed', sans-serif;
  margin: 0px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

form div {
  margin: 1em;
  display: inline-block;
}

img {
  width: 400px;
  height: 300px;
}

.main-content {
  padding: 60px;
  padding-top: 50px;
  display: flex;
  justify-content: center;
}

.product-detail {
  display: flex;
  flex-direction: row;
}

.product-detail-img {
  padding: 20px;
}

.product-detail-desc {
  padding: 20px;
  width: 500px;
}

#navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #a91010;
  padding: 20px;
  padding-bottom: 0px;
}

#logo {
  display: inline-block;
  font-family: Roboto, sans-serif;
  color: #ffffff;
}
